.btn {
  z-index: 10;
  border-radius: 8px;
  padding: 4px;
  background: white;
  cursor: pointer;
}
.def {
  color: white;
  margin-right: 4px;
}

@media only screen and (max-width: 620px) {
  .title {
    font-size: 24px;
  }
}

.menuBar {
  transition: opacity 2.5s ease-in;
  opacity: 1;
  padding: 8px;
  z-index: 10;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(99, 99, 187, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}

@media only screen and (max-width: 620px) {
  .menuBar {
    padding-top: 40px;
  }
}

.menuBtn {
  border-radius: 6px;
  padding: 6px;
  position: absolute;
  top: 25px;
  right: 25px;
}

.hide {
  opacity: 0;
}

.loader {
  display: flex;
  height: 10vh;
  justify-content: center;
  align-items: center;
}

.spinner {
  height: 5vh;
  width: 5vh;
  border: 6px solid rgba(0, 255, 0, 0.2);
  border-top-color: rgba(0, 255, 0, 0.8);
  border-radius: 100%;
  animation: rotation 0.6s infinite linear 0.25s;
  opacity: 0;
}

@keyframes rotation {
  from {
    opacity: 1;
    transform: rotate(0deg);
  }
  to {
    opacity: 1;
    transform: rotate(359deg);
  }
}

/* custom legend */

.wrapper {
  height: 18px;
  width: 300px;
  padding-bottom: 0px;
  position: relative;
  overflow: hidden;
  color: white;
}

.progress {
  display: block;
  height: 100%;
  border-radius: 4px;
  background: rgb(82, 68, 68);
  background: linear-gradient(
    90deg,
    rgba(82, 68, 68, 0.8) 9%,
    rgba(255, 0, 0, 0.8) 100%
  );
  animation: fill-bar 3s ease-in-out;
  animation-fill-mode: both;
}

@media only screen and (max-width: 600px) {
  .mobile {
    flex-direction: column;
  }
}

.mobile {
  justify-content: space-between;
  margin-left: 20px;
  padding-right: 20px;
  overflow: scroll;
  z-index: 999;
  margin-top: 20px;
}

.flexCustom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.controls {
  position: absolute;
  bottom: 0;
  z-index: 999;
  background: white;
  padding: 4px;
  border-radius: 6px;
}

@media only screen and (max-width: 400px) {
  .controls {
    display: none;
  }
}
