.btn {
  z-index: 10;
  border-radius: 8px;
  padding: 4px;
  background: white;
  cursor: pointer;
}
.def {
  color: white;
  margin-right: 4px;
}

.menuBar {
  padding: 12px;
  z-index: 10;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(99, 99, 187, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}

.loader {
  display: flex;
  height: 10vh;
  justify-content: center;
  align-items: center;
}

.spinner {
  height: 5vh;
  width: 5vh;
  border: 6px solid rgba(0, 255, 0, 0.2);
  border-top-color: rgba(0, 255, 0, 0.8);
  border-radius: 100%;
  animation: rotation 0.6s infinite linear 0.25s;
  opacity: 0;
}

@keyframes rotation {
  from {
    opacity: 1;
    transform: rotate(0deg);
  }
  to {
    opacity: 1;
    transform: rotate(359deg);
  }
}
